<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mini Whatsapp</title>
</head>
<body>
    <h3>All Chats!</h3>
    <form method="get" action="/chats/new">
        <button class="msg">New Chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
    <div class="chat">
        <p>From: <i> <b> <%= chat.from %></b> </i></p>
        <div class="msg">
            <p><%= chat.msg %></p>
            <form method="get" action="/chats/<%= chat._id %>/edit">
                <button class="msg">Edit</button>
            </form>
            <br>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button class="msg btn">Delete</button>
            </form>
        </div>
        <p>Recieved by <i> <b> <%= chat.to %> </b> </i></p>
        <hr>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>  <!-- converting date to string and accessing it in the form of array --> 
        <p><%= chat.created_at.toString().split(" ").slice(0, 4).join("-") %></p>
    </div>
    <br><br>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>     <!-- this script is for to load sweet alert given by gpt -->
    <script src="/script.js"></script>
</body>
</html>
